# Sailka Core Assigment
- Kevin Barnett
- 04/28/23

## Entity Relationship Diagram

![png](https://assets.codingdojo.com/boomyeah/company_209/chapter_3569/handouts/chapter3569_5431_sakila-db-model.png)

## Import Libraries

In [1]:
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine

In [2]:
# Create connection string
username = 'root'
password = 'root'
db_name = 'sakila'
connection = f'mysql+pymysql://{username}:{password}@localhost/{db_name}'

In [4]:
# Create enigne
engine = create_engine(connection)
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

## Question 1
> What query would you run to get all the customers inside city_id = 312? Your query should return the customers' first name, last name, email, address, and city.

In [9]:
pd.read_sql('''select city.city_id, address, customer.first_name, customer.last_name, customer.address_id, customer.email
from customer
join (city, address)
on customer.address_id = address.city_id
where city.city_id = 312;''', engine)

,city_id,address,first_name,last_name,address_id,email
0,312,663 Baha Blanca Parkway,MARY,SMITH,5,MARY.SMITH@sakilacustomer.org
1,312,614 Pak Kret Street,PATRICIA,JOHNSON,6,PATRICIA.JOHNSON@sakilacustomer.org
2,312,751 Lima Loop,LINDA,WILLIAMS,7,LINDA.WILLIAMS@sakilacustomer.org
3,312,230 Urawa Drive,BARBARA,JONES,8,BARBARA.JONES@sakilacustomer.org
4,312,922 Vila Velha Loop,ELIZABETH,BROWN,9,ELIZABETH.BROWN@sakilacustomer.org
...,...,...,...,...,...,...
592,312,885 Yingkou Manor,SETH,HANNON,596,SETH.HANNON@sakilacustomer.org
593,312,1378 Beira Loop,KENT,ARSENAULT,597,KENT.ARSENAULT@sakilacustomer.org
594,312,521 San Juan Bautista Tuxtepec Place,TERRANCE,ROUSH,598,TERRANCE.ROUSH@sakilacustomer.org
595,312,346 Cam Ranh Avenue,RENE,MCALISTER,599,RENE.MCALISTER@sakilacustomer.org
596,312,1889 Valparai Way,EDUARDO,HIATT,600,EDUARDO.HIATT@sakilacustomer.org

## Question 2
> What query would you run to get all comedy films? Note that the genre is called the category in this schema. Your query should return film title, description, release year, rating, and special features.

## Question 3
> What query would you run to get all the films that Johnny Lollobrigida was in? Your query should return the actor's last name, film title, and release year.

## Question 4
> What query would you run to get the first and last names of all the actors in the movie titled "Bingo Talented"?

## Question 5
> What query would you run to get the customer_id associated with all payments greater than twice the average payment amount? (HINT: use 2* in your query to get twice the amount). Your result should include the customer id and the amount.

## Question 6
> What query would you run to list the first and last names of the 5 customers who have the highest number(count) of payments? You can title the number of payments as num_payments.